@import "var.css";

/* Main is the section that contain the div of text and image */
#main {
  /* Setting up flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* Setting up the width */
  width: 90%;
  /* Spacing the main section 2rem aways from the nav-bar */
  margin-top: 2rem;
  /* Centering */
  margin-left: auto;
  margin-right: auto;
}

/* That's the section in the left resposible for my name and description */
/* And the section in the right resposible for my image */
#text-section,
#image-section {
  /* Setting width */
  width: 46%;
  /* Setting min-width for mobile friendliness */
  min-width: 325px;
}

/* My name Adel Amrane is the page */
#my-name {
  /* Setting up color */
  color: var(--color2);
  /* Setting the font */
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* My description */


#my-image {
  width: 90%;
  /* Making the image circular */
  border-radius: 50%;
}