/* Changing backgound color and body width */
@import "var.css";

/* This is the hero section include hero text and hero image */
.hero {
  /* Setting flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Setting the width of the hero section */
  width: 90%;
  /* Centering the hero section */
  margin-left: auto;
  margin-right: auto;
  /* Spacing the hero section from top and bottom */
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.hero-text {
  width: 49%;
  min-width: 300px;
}

#tagline {
  color: var(--color2);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}

#title {
  color: var(--color2);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.hero-image {
  width: 49%;
  min-width: 300px;
  margin-top: 4rem;
}

/* This one refer to my image element */
#hero-adel {
  width: 100%;
}

#cta-button {
  /* Removing underline */
  text-decoration: none;
  color: var(--color1);
  /* setting font */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* BG color */
  background-color: var(--color2);
  padding: 2.5% 10% 2.5% 10%;
  border-radius: 0.25rem;
  /* margin-left: 10%; */
  /* Animation duration */
  transition: 0.3s;
}

#cta-button:hover {
  /* Change size on hover (become bigger) */
  padding: 3% 10.5% 3% 10.5%;
  background-color: var(--color3);
}

#decore {
  position: absolute;
  width: 45%;
  margin-top: 9rem;
  margin-left: 4rem;
  margin-bottom: auto;
}