:root {
  /* Colors */
  --color1: #02000D;
  --color2: #FFF;
  --color3: lawngreen;
  --color4: blueviolet;
  /* Sizes */
  --size1: 3rem;
  --size2: 2rem;
  --size3: 1rem;
  /* Experment colors */
  /* --color1: #FFF;
  --color2: black;
  --color3: rgb(128, 255, 0);
  --color4: rgb(132, 0, 255); */
}

p {
  color: var(--color2);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 380;
  line-height: normal;
  margin-bottom: var(--size1);
}

#credit {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* For WebKit browsers (Chrome, Safari) */
/* You may need to use browser-specific prefixes for other browsers */

/* Track styles (the area where the thumb moves) */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.6rem;
  /* Width of the scrollbar */
}

/* Handle styles (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners of the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color2);
  /* Color on hover */
}

/* Track styles on the sides of the thumb */
::-webkit-scrollbar-track {
  background-color: transparent;
  /* Color of the scrollbar track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: transparent;
  /* Color on hover */
}

body {
  /* Settings the page background color to dark blue */
  background: var(--color1);
  font-family: Inter;
  background-image: url("../icons/Decore.png");
  background-size: 50%;
  background-position: center;
  background-repeat: repeat-y;
  padding-top: var(--size3);
  width: 97%;
  padding: 0;
}

/* nav-bar include profile icon, name and navigation links like home, contact... */
.nav-bar {
  width: 99%;
  /* Setting color */
  color: var(--color2);
  /* Setting font */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* Setting flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* Centering the nav-bar */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--size2);
}

/* Name is reffer ing to my name adel amrane in the top left corner after the prfile icon */
#name {
  /* Setting color */
  color: var(--color2);
  /* Setting the font*/
  font-size: var(--size2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 2%;
  margin-right: 25%;
  margin-top: auto;
  margin-bottom: auto;
  margin-bottom: 1.5rem;
}

/* Navigation links: home, about me, portfolio, contact, skills */
.nav-links {
  /* Remove underline */
  text-decoration: none;
  /* Setting a space between the links by using margin */
  margin-right: 3%;
  /* Setting color */
  color: var(--color2);
  /* Setting font size */
  font-size: 1.2rem;
  /* Setting animation duration */
  transition: 0.3s;
}

.mobile-nav-links {
  /* Remove underline */
  text-decoration: none;
  /* Setting a space between the links by using margin */
  margin-right: 3%;
  /* Setting color */
  color: var(--color2);
  /* Setting font size */
  font-size: 1.5rem;
  /* Setting animation duration */
  transition: 0.4s;
  display: block;
  margin-bottom: 5vh;
}

.mobile-nav-links+.mobile-nav-links::before {
  margin-bottom: 5vh;
}

.nav-bar-icons {
  width: 1rem;
  margin-right: 0.2rem;
}

/* Navigation links change color when hovering over them with the mouse */
.nav-links:hover {
  color: var(--color3);
  font-size: 1.22rem;
}


/* Changing the size of the profile icon */
#profile-icon {
  width: 4%;
  min-width: 40px;
  margin-bottom: 1.5rem;
}

#show-nav-bar-btn {
  /* background-color: var(--color2); */
  width: 2rem;
  height: 2rem;
  display: none;
  filter: invert(1);
}

#mobile-nav {
  background-color: var(--color4);
  position: fixed;
  width: 90%;
  padding-left: 0.8rem;
  top: 50vh;
  transform: translateY(-50%);
  height: 80vh;
  padding-top: 5vh;
  border-radius: 15px;
  z-index: 1;
}


@media only screen and (max-width: 1128px) {
  .nav-links {
    display: none;
  }

  #name {
    font-size: 1.5rem;
  }

  #show-nav-bar-btn {
    display: inline-block;
  }

  nav {
    justify-content: space-evenly;
  }
}