:root {
  --color1: #02000D;
  --color2: #FFF;
  --color3: lawngreen;
}

body {
  /* Settings the page background color to dark blue */
  background: var(--color1);
  font-family: Inter;
  background-image: url("../icons/Decore.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

/* nav-bar include profile icon, name and navigation links like home, contact... */
.nav-bar {
  width: 99%;
  /* Setting color */
  color: var(--color2);
  /* Setting font */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* Setting flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* Centering the nav-bar */
  margin-left: auto;
  margin-right: auto;
}

/* Name is reffering to my name adel amrane in the top left corner after the prfile icon */
#name {
  /* Setting color */
  color: var(--color2);
  /* Setting the font*/
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 2%;
  margin-right: 28%;
}

/* Navigation links: home, about me, portfolio, contact, skills */
.nav-links {
  /* Remove underline */
  text-decoration: none;
  /* Setting a space between the links by using margin */
  margin-right: 3%;
  /* Setting color */
  color: var(--color2);
  /* Setting font size */
  font-size: 1.5rem;
  /* Setting animation duration */
  transition: 0.4s;
}

/* Navigation links change color when hovering over them with the mouse */
.nav-links:hover {
  color: var(--color3);
  font-size: larger;
}


/* Changing the size of the profile icon */
#profile-icon {
  width: 4%;
  min-width: 40px;
}