:root {
  --color1: #02000D;
  --color2: #FFF;
  --color3: lawngreen;
  --color4: blueviolet;
}

p {
  color: var(--color2);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 380;
  line-height: normal;
  margin-bottom: 3rem;
}

#credit {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* For WebKit browsers (Chrome, Safari) */
/* You may need to use browser-specific prefixes for other browsers */

/* Track styles (the area where the thumb moves) */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.6rem;
  /* Width of the scrollbar */
}

/* Handle styles (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners of the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color2);
  /* Color on hover */
}

/* Track styles on the sides of the thumb */
::-webkit-scrollbar-track {
  background-color: transparent;
  /* Color of the scrollbar track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: transparent;
  /* Color on hover */
}

body {
  /* Settings the page background color to dark blue */
  background: var(--color1);
  font-family: Inter;
  background-image: url("../icons/Decore.png");
  background-size: 50%;
  background-position: center;
  background-repeat: repeat-y;
  padding-top: 1rem;
}

/* nav-bar include profile icon, name and navigation links like home, contact... */
.nav-bar {
  width: 99%;
  /* Setting color */
  color: var(--color2);
  /* Setting font */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* Setting flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* Centering the nav-bar */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

/* Name is reffering to my name adel amrane in the top left corner after the prfile icon */
#name {
  /* Setting color */
  color: var(--color2);
  /* Setting the font*/
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 2%;
  margin-right: 28%;
  margin-top: auto;
  margin-bottom: auto;
}

/* Navigation links: home, about me, portfolio, contact, skills */
.nav-links {
  /* Remove underline */
  text-decoration: none;
  /* Setting a space between the links by using margin */
  margin-right: 3%;
  /* Setting color */
  color: var(--color2);
  /* Setting font size */
  font-size: 1.5rem;
  /* Setting animation duration */
  transition: 0.4s;
}

/* Navigation links change color when hovering over them with the mouse */
.nav-links:hover {
  color: var(--color3);
  font-size: larger;
}


/* Changing the size of the profile icon */
#profile-icon {
  width: 4%;
  min-width: 40px;
}